@import play.api.Configuration
@import helper._

@(etudiantForm: Form[Etudiant])(implicit flash: Flash, lang: Lang, messages: Messages, config: Configuration)

@main(Messages("etudiants.form")) {
  <h2>@Messages("etudiants.form")</h2>

  @helper.form(action = routes.Etudiants.save()) {
    <fieldset>
      <legend>
        @Messages("etudiants.details", Messages("etudiants.new"))
      </legend>
      @helper.inputText(etudiantForm("id"))
      @helper.inputText(etudiantForm("nom"))
      @helper.inputText(etudiantForm("prenom"))
      @helper.inputText(etudiantForm("niveau"))
    </fieldset>

    <p><input type="submit" class="btn primary"
      value='@Messages("etudiants.new.submit")'>
    </p>
  }
}
